@import "global";

.prev-next {
  margin-top: $spacing-vertical * 2;
  margin-bottom: $spacing-vertical * 2;

  .prev-next-label {
    font-weight: bold;
  }
  .next {
    text-align: right;
  }
}

.post-content
{
  margin-left: auto;
  margin-right: auto;
  a[href]
  {
    @include anchor($color-primary);
  }
}
.post-author-spotlight
{
  h3 { text-transform: uppercase; margin-top: $spacing-vertical / 4 !important; }
}