@import "global";

pre, code
{
  background-color: #f1f1f1;
}
code
{
  padding: 3px 5px;
  font-family: $font-mono;
  color: darken($color-primary, 10%);
}
.code-plain
{
  font-family: $font-mono;
}
pre
{
  > code {
    padding: 0;
  }
  margin-bottom: $spacing-vertical;
  border-left: .3rem solid $color-primary;
  padding: 10px 20px;
  //white-space: pre-wrap;
  overflow-x: auto;
}

.code-bash
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  margin-bottom: $spacing-vertical;
  border-left: .3rem solid $color-primary;
  padding: $spacing-vertical / 2 $spacing-vertical;
  unicode-bidi: embed;
  overflow-x: auto;
  white-space: pre;
  display: block;
  word-wrap: break-word;

  font-size: 0.75em;
}

.code-bash__kw1  {color: #c20cb9; font-weight: bold;}
.code-bash__kw2 {color: #7a0874; font-weight: bold; }
.code-bash__comment { color: #888; }
.code-bash__prompt { font-weight: bold; margin-right: 5px; }