@import "global";

pre, code
{
  background-color: #f1f1f1;
}
code
{
  padding: 3px 5px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, monospace, serif;
  font-size: 90%;
  color: darken($color-primary, 10%);
}
pre
{
  > code {
    padding: 0;
  }
  margin-bottom: $spacing-vertical;
  border-left: .3rem solid $color-primary;
  padding: 10px 20px;
  white-space: pre-wrap;
  overflow-x: scroll;
}


.code-bash
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;

  word-wrap: break-word;
  .sy0 { display: inline-block; } //will allow wrapping here

  font-size: 0.75em;
  background-color: #F8F8F8;
  border: 1px solid #ddd;
  padding: $spacing-vertical / 2;

  .code-bash-kw1  {color: #c20cb9; font-weight: bold;}
  .code-bash-kw2 {color: #7a0874; font-weight: bold; }
  .code-bash-comment { color: #888; }
  .sy0 {color: #000000; font-weight: bold; }

  > code
  {
    display: block;
  }
}