@import "global";

.cover
{
  @box-sizing(border-box);
  .meta-large [class*="icon"]
  {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: $mobile-width-threshold) {
  .cover { padding: $spacing-vertical; }
}
@media (min-width: $mobile-width-threshold) {
  .cover { padding: $spacing-vertical * 2 $spacing-vertical * 3; }
}

.cover-center
{
  @include flex-direction(column);
  @include absolute-center();
}
.cover-dark
{
  color: #ddd;
  .cover-title { color: white; }
}
.cover-light
{
  color: #333;
  .cover-title { color: black; }
}
.cover-dark-grad
{
  @include linear-gradient(darken($color-primary, 5), lighten($color-primary, 5));
}

.cover-title
{
  margin-bottom: $spacing-vertical;
  font-size: 9vmin;
  line-height: 1.4;
}
.cover-subtitle
{
  margin: $spacing-vertical 0 $spacing-vertical;
  font-size: 1.1em;
}