@import "global";

$input-width: 300px;

label[for]
{
  cursor: pointer;
}

input[type="email"], input[type="text"] 
{    
  border: 0 none;
  border: 1px solid rgba(160,160,160,.5);
  padding-left: 5px;
  padding-right: 5px;
  width: $input-width;
  height: $spacing-vertical * 1.5;
}

.form-row
{
  margin-bottom: $spacing-vertical;
}

.mail-submit
{
  input
  {
     margin-right: 10px;
  }
  input, .btn-primary
  {
    margin-bottom: $spacing-vertical / 2;
    vertical-align: bottom;
  }
}