html,
body {
  width: 100%; height: 100%;
}

html {
  background-color: var(--lbry-white);
  font-size: 16px;
}

body {
  @include font-sans;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  word-wrap: anywhere;
}



code {
  @include font-mono;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;

  &.weight-light {
    font-weight: 200;
  }
}

h1 {
  + h2 {
    .hero & { // padding is not desired in the hero
      padding-top: 0;
    }
  }

  @media (min-width: 951px) {
    font-size: 3rem;
  }

  @media (max-width: 950px) {
    font-size: 2rem;
  }
}

h2 {
  @media (min-width: 951px) {
    font-size: 2rem;
  }

  @media (max-width: 950px) {
    font-size: 1.5rem;
  }
}

h3 {
  @media (min-width: 951px) {
    font-size: 1.5rem;
  }

  @media (max-width: 950px) {
    font-size: 1.15rem;
  }
}

h4 {
  @media (min-width: 951px) {
    font-size: 1.25rem;
  }

  @media (max-width: 950px) {
    font-size: 1rem;
  }
}

hr {
  width: 100%; height: 1px;

  background-color: var(--lbry-gray-2);
  border: none;
  margin-bottom: 1rem;
}

img {
  font-size: 0;

  &::after {
    width: 100%; height: 100%;

    background-color: var(--lbry-black);
    background-image: url("../img/missing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 1px 0 rgba($lbry-black, 0.3);
    content: "";
    display: block;
  }
}

main {
  background-color: var(--lbry-white);
  flex: 1;

  &:not(.ancillary):not(.soon) {
    padding-bottom: 3rem;
  }

  &:not(.soon) {
    position: relative;
    z-index: 1;
  }
}

section {
  &:not(.person-bio) {
    margin-bottom: 2rem;
  }
}

small {
  font-size: 0.8rem;
}

.meta {
  color: var(--lbry-gray-5);
}

strong {
  font-weight: 700;
}

iframe,
video {
  width: 100%;
}

input::placeholder {
  opacity: 0.4;
}

.button--google-play {
  @include hide-text;
  width: 10rem; height: 4rem;

  background-image: url("../img/google-play-badge.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;

  .header & {
    top: 0.5rem;
  }

  main & {
    margin-right: auto;
    margin-left: auto;
  }
}

.button--fdroid {
  @include hide-text;
  width: 10rem; height: 4rem;

  background-image: url("../img/fdroid-badge.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: relative;

  .header & {
    top: 0.5rem;
  }

  main & {
    margin-right: auto;
    margin-left: auto;
  }
}

.flex-third {
  flex-basis: 33.333333%;
}

.flex-half {
  flex-basis: 50%;
}

.flex-full {
  flex-basis: 100%;
}

.hide {
  display: none;
}

.hide--mobile {
  @media (max-width: 800px) {
    display: none;
  }
}
.hide--desktop {
  @media (min-width: 801px) {
    display: none;
  }
}

.inner-wrap {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  &.inner-wrap--center {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &.inner-wrap--center-hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
  }

  &.inner-wrap--center-left {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: relative;
  }

  &.inner-wrap--footer-bottom {
    padding-top: 0.75rem;

    ul {
      &::after {
        @include clearfix;
      }

      li {
        vertical-align: middle;

        &:first-of-type {
          float: left;
        }

        &:last-of-type {
          float: right;
          font-size: 80%;
          line-height: 3rem;
        }
      }
    }
  }

  &.inner-wrap--footer-top {
    @media (min-width: 951px) {
      padding-bottom: 2rem;
    }

    ul {
      font-size: 80%;

      @media (min-width: 951px) {
        float: left;
        width: 25%;

        &:last-of-type,
        &:nth-last-child(2) {
          text-align: right;
        }
      }

      @media (max-width: 950px) {
        margin-bottom: 2rem;
      }

      li {
        @media (max-width: 950px) {
          &:not(:last-of-type) {
            margin-right: 1rem;
          }
        }

        &:first-of-type {
          letter-spacing: 0.1rem;
          margin-bottom: 1rem;
          pointer-events: none;
          text-transform: uppercase;
        }

        &:not(:first-of-type):not(:last-of-type) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  &.inner-wrap--team {
    display: flex;

    @media (max-width: 700px) {
      flex-direction: column;
    }
  }

  @media (min-width: 901px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  @media (max-width: 900px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &::after {
    @include clearfix;
  }
}
