.soon {
  align-items: center;
  background-image: linear-gradient(to right, #60e1ba, #3bc9db 100%);
  background-size: cover;
  color: white;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  h1 {
    font-weight: normal;
  }

  p {
    line-height: 1.55;
    margin-bottom: 1rem;
  }

  strong {
    font-weight: bold;
  }

  .mail-submit {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin: 0;

    button,
    input {
      height: 2.5rem;
      border-style: solid;
      border-width: 1px;
      box-shadow: none;
      margin: 0;
      outline: none;

      &:not([type="button"]):not([type="submit"]) {
        flex: 1;
        padding-right: 1rem;
        padding-left: 1rem;
        transition: border 0.2s;

        &:not(:focus) {
          border-top-color: black;
          border-right-color: transparent;
          border-bottom-color: black;
          border-left-color: black;
        }

        &:focus {
          border-top-color: #2f9176;
          border-right-color: transparent;
          border-bottom-color: #2f9176;
          border-left-color: #2f9176;
        }
      }

      &[type="button"],
      &[type="submit"] {
        background-image: none;
        color: white;
        margin: 0;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        transition: all 0.2s;

        &:not(:hover) {
          background-color: black;
          border-color: black;
        }

        &:hover {
          background-color: #38d9a9;
          border-color: #2f9176;
        }
      }
    }

    .meta {
      display: none;
    }
  }
}
