.ancillary {
  blockquote,
  iframe {
    margin-bottom: 1.25rem;
  }

  ol,
  p,
  ul {
    line-height: 1.55;

    img {
      display: flex;
      max-height: 50vh;

      + em {
        display: block;
        font-size: 0.8rem;
        font-style: italic;
        line-height: 1.33;
        margin-right: auto;
        margin-left: auto;
        padding-top: 1rem;
        text-align: center;
        width: 80%;
      }
    }

    code {
      background-color: var(--lbry-black);
      color: var(--lbry-white);
      display: initial;
      font-size: 0.8rem;
      padding: 0.2rem 0.5rem;
      position: relative;
      top: -0.2rem;
    }
  }

  ol,
  ul {
    list-style-position: outside;

    li {
      list-style-position: inherit;

      p {
        display: inline;
      }
    }
  }

  ol {
    padding-left: 0.15rem;

    > li {
      list-style-position: inside;
    }
  }

  ul {
    + ol,
    + p,
    + ul {
      padding-top: 1.25rem;
    }

    &:not(.download-cards) {
      padding-left: 1.3rem;
    }

    &:not(.download-cards):not(.news-items) {
      list-style-type: disc;
    }
  }

  p {
    + blockquote,
    + hr,
    + iframe,
    + img {
      margin-top: 1.25rem;
    }

    + h2,
    + h3,
    + ol,
    + p,
    + ul {
      padding-top: 1.25rem;
    }

    img {
      margin-right: auto;
      margin-left: auto;
    }
  }

  iframe {
    min-height: 500px;
    width: 100%;
  }

  blockquote {
    padding: 1rem 0 1rem 2rem;
    position: relative;

    &::before {
      width: 0.5rem; height: 100%;
      top: 0; left: 0;

      background-image: linear-gradient(250deg, var(--lbry-teal-2), var(--lbry-blue-3) 100%);
      content: "";
      position: absolute;
    }

    // TODO: Rewrite all blockquotes in the blog posts
    // p {
    //   margin-bottom: 1.25rem;
    // }
  }

  a {
    &:not([class^=button]) {
      transition: color 0.2s;

      &:not(:hover) {
        color: var(--lbry-teal-5);
      }

      &:hover {
        color: var(--lbry-teal-3);
      }
    }

    &[class^=button] {
      font-size: 1rem;
    }
  }

  figure {
    margin-bottom: 2rem; padding-top: 1rem;

    align-items: center;
    display: flex;
    flex-direction: column;

    img {
      width: 100%; height: 100%;
      min-width: 12rem; min-height: 12rem;

      margin-bottom: 1rem;
      max-height: 25rem;
      object-fit: contain;
    }
  }

  figcaption {
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.33;
    text-align: center;
    width: 80%;
  }

  footer {
    font-size: 0.8rem;
    line-height: 1.33;
  }

  table {
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
}
