
table {
  width: 100%;
  background-color: var(--lbry-white);
  position: relative;

  thead {
    cursor: default;
    font-size: 80%;
    position: relative;

    tr {
      position: relative;
      z-index: 1;
    }
  }

  tbody {
    line-height: 1.55;
  }

  tr {
    &:not(:last-of-type) {
      td {
        border-bottom: 1px solid var(--lbry-gray-1);
      }
    }
  }

  th,
  td {
    padding: 0.5rem 1rem;
  }

  th {
    border-bottom: 2px solid var(--lbry-black);
    letter-spacing: 0.1rem;
    text-align: left;
    text-transform: uppercase;
  }

  a {
    font-weight: bolder;
  }
}
