$coco:      #fff;
$lychee:    #fafafa;
$mushroom:  #f6f6f6;
$silver:    #bababa;
$lime:      #caedb9;
$mint:      #46e4b9;
$kiwi:      #42dcaa;
$apple:     #3fd1a0;
$original:  #40c0a0;
$leek:      #37a691;
$broccoli:  #2e8c7b;
$zucchini:  #1d594e;
$alga:      #33b8b0;
$aqua:      #23b0b1;
$blueberry: #223f67;
$fig:       #553767;
$cherry:    #e2495e;
$banana:    #fbd55e;
$gold:      #aa8101;
$onyx:      #222;
