:root {

/*  General
 *  ─────────────────────────────────── */

  --lbry-white: #fff;
  --lbry-silver: #f1f3f5;
  --lbry-black: #212529;



/*  Gray
 *  ─────────────────────────────────── */

  --lbry-gray-1: #e2e5e9;
  --lbry-gray-2: #d8dde1;
  --lbry-gray-3: #ced4da;
  --lbry-gray-4: #abb1b7;
  --lbry-gray-5: #898e93;



/*  Teal
 *  ─────────────────────────────────── */

  --lbry-teal-1: #88e8cb;
  --lbry-teal-2: #60e1ba;
  --lbry-teal-3: #38d9a9;
  --lbry-teal-4: #33b58f;
  --lbry-teal-5: #2f9176;



/*  Cyan
 *  ─────────────────────────────────── */

  --lbry-cyan-1: #89dfe9;
  --lbry-cyan-2: #62d4e2;
  --lbry-cyan-3: #3bc9db;
  --lbry-cyan-4: #36a8b7;
  --lbry-cyan-5: #318794;



/*  Blue
 *  ─────────────────────────────────── */

  --lbry-blue-1: #85c2f6;
  --lbry-blue-2: #5caef3;
  --lbry-blue-3: #339af0;
  --lbry-blue-4: #2f83c8;
  --lbry-blue-5: #2c6ba0;



/*  Indigo
 *  ─────────────────────────────────── */

  --lbry-indigo-1: #acbcfd;
  --lbry-indigo-2: #90a5fd;
  --lbry-indigo-3: #748ffc;
  --lbry-indigo-4: #637ad2;
  --lbry-indigo-5: #5365a8;



/*  Violet
 *  ─────────────────────────────────── */

  --lbry-violet-1: #c1acfc;
  --lbry-violet-2: #ac91fb;
  --lbry-violet-3: #9775fa;
  --lbry-violet-4: #7f65d0;
  --lbry-violet-5: #6855a6;



/*  Grape
 *  ─────────────────────────────────── */

  --lbry-grape-1: #e9adf7;
  --lbry-grape-2: #e192f5;
  --lbry-grape-3: #da77f2;
  --lbry-grape-4: #b567ca;
  --lbry-grape-5: #9056a2;



/*  Pink
 *  ─────────────────────────────────── */

  --lbry-pink-1: #fab5cd;
  --lbry-pink-2: #f99cbd;
  --lbry-pink-3: #f783ac;
  --lbry-pink-4: #cc7092;
  --lbry-pink-5: #a15d78;



/*  Red
 *  ─────────────────────────────────── */

  --lbry-red-1: #ec8383;
  --lbry-red-2: #e65a5a;
  --lbry-red-3: #e03131;
  --lbry-red-4: #ba2f2f;
  --lbry-red-5: #942c2e;



/*  Orange
 *  ─────────────────────────────────── */

  --lbry-orange-1: #ffbe80;
  --lbry-orange-2: #ffa855;
  --lbry-orange-3: #ff922b;
  --lbry-orange-4: #d37c2b;
  --lbry-orange-5: #a6662a;



/*  Yellow
 *  ─────────────────────────────────── */

  --lbry-yellow-1: #ffeca3;
  --lbry-yellow-2: #ffe685;
  --lbry-yellow-3: #ffe066;
  --lbry-yellow-4: #d3bb5a;
  --lbry-yellow-5: #a6954e;



/*  Lime
 *  ─────────────────────────────────── */

  --lbry-lime-1: #cbee93;
  --lbry-lime-2: #bae96f;
  --lbry-lime-3: #a9e34b;
  --lbry-lime-4: #8ebd44;
  --lbry-lime-5: #73973d;



/*  Green
 *  ─────────────────────────────────── */

  --lbry-green-1: #97e2a3;
  --lbry-green-2: #74d985;
  --lbry-green-3: #51cf66;
  --lbry-green-4: #47ad5a;
  --lbry-green-5: #3e8b4e;

}
