.button {
  fill: currentColor;
  position: relative;
  white-space: nowrap;
}

.button--alt {
  &:hover {
    text-decoration: underline;
  }
}

.button--constrict {
  @include constrict(20vw);
}

.button--disabled {
  opacity: 0.3;

  &:not([disabled]) {
    pointer-events: none;

    &:hover {
      background-color: inherit;
      color: inherit;
      fill: inherit;
    }
  }
}

.button--icon {
  width: 5rem;
  height: 5rem;
  background-color: rgba($lbry-black, 0.7);
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  color: var(--lbry-white);
  transition: background-color 0.2s;


  &:hover {
    background-color: var(--lbry-green-3);
  }

  &.button--play {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='white' stroke-width='2' fill='white' fill-rule='evenodd' stroke-linejoin='round'%3E %3Cpolygon points='5 21 5 3 21 12'/%3E %3C/g%3E %3C/svg%3E");
    background-position: calc(50% + 0.1rem) center;
  }

  &.button--view {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg stroke='white' stroke-width='2' fill='none' fill-rule='evenodd'%3E %3Cpath d='M2, 12 C2, 12 5, 5 12, 5 C19, 5 22, 12 22, 12 C22, 12 19, 19 12, 19 C5, 19 2, 12 2, 12 Z' stroke-linejoin='round'/%3E %3Ccircle cx='12' cy='12' r='3'/%3E %3Cpath d='M12, 5 L12, 3' stroke-linecap='round'/%3E %3Cpath d='M18, 6.5 L19, 5' stroke-linecap='round'/%3E %3Cpath d='M21, 10 L22.5, 9' stroke-linecap='round'/%3E %3Cpath d='M1.5, 10 L3, 9' stroke-linecap='round' transform='translate(2.250000, 9.500000) scale(1, -1) translate(-2.250000, -9.500000)'/%3E %3Cpath d='M5, 6.5 L6, 5' stroke-linecap='round' transform='translate(5.500000, 5.750000) scale(-1, 1) translate(-5.500000, -5.750000)'/%3E %3C/g%3E %3C/svg%3E");
    background-position: center calc(50% + 0.1rem);
  }
}

.button--inverse {
  padding: var(--spacing-xs) var(--spacing-s); // sass-lint:disable-line shorthand-values
  background-color: transparent;
  border: 1px solid var(--lbry-gray-1);
  border-radius: 1rem;
  color: inherit;
  transition: background-color 0.2s;

  [data-mode="dark"] & {
    border-color: rgba($lbry-white, 0.1);
  }

  &:hover {
    background-color: var(--lbry-gray-1);

    [data-mode="dark"] & {
      background-color: rgba($lbry-white, 0.1);
    }
  }
}

.button--link {
  color: var(--lbry-teal-5);
  transition: color 0.2s;
  word-break: break-all;

  [data-mode="dark"] & {
    color: var(--lbry-teal-3);
  }

  &:hover {
    color: var(--lbry-teal-3);

    [data-mode="dark"] & {
      color: var(--lbry-teal-4);
    }
  }
}

.button--primary {
  padding: var(--spacing-xs) var(--spacing-s); // sass-lint:disable-line shorthand-values
  align-self: center; // fixes buttons next to tall elements inside one with `display: flex`
  background-color: var(--lbry-teal-5);
  border-radius: 1rem;
  color: var(--lbry-white);
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--lbry-teal-3);

    [data-mode="dark"] & {
      background-color: var(--lbry-teal-4);
    }
  }
}

.button--uppercase {
  text-transform: uppercase;
}
