.home {
}



.home__hero {
  // @include center;
  width: 100%; height: 100vh;

  background-color: $onyx;
  // background-color: $coco;
  background-image: url("../media/img/wall-a.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  position: relative;

  &::after {
    width: 100%; height: 50%;
    bottom: 0; left: 0;

    background-image: url("../media/svg/wave.svg");
    background-position: center bottom -2px;
    background-repeat: no-repeat;
    background-size: 1000%;
    content: "";
    position: absolute;
    // z-index: 10;
  }

  > div:first-of-type {
    height: 100%;
    position: relative;
  }
}

.home__hero__content {
  color: $coco;
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 1px rgba($onyx, 0.3);
  z-index: 2;

  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 2rem;
  }
}

.home__hero__content__cta {
  display: inline-block;
  font-size: 1rem;
  position: relative;

  &.download {
    border-radius: 3rem;
    padding: 0.75rem 1.25rem;
    transition: all 0.2s;

    &:not(:hover) {
      background-color: $coco;
      color: $onyx;
    }

    &:hover {
      background-color: $original;
      color: $coco;
    }
  }

  &.watch {
    &::before {
      width: 4rem; height: 4rem;
      margin: 0 auto 1rem; padding-left: 0.5rem;
      top: -2rem; left: 0;

      border-radius: 50%;
      content: "▶︎";
      display: block;
      font-family: monospace;
      font-size: 2rem;
      line-height: 4.5rem;
      text-align: center;
      transition: all 0.2s;
    }

    &:not(:hover)::before {
      background-color: $coco;
      color: $onyx;
    }

    &:hover::before {
      background-color: $original;
      color: $coco;
    }
  }
}

.home__hero__devices {
  width: 100%; height: 100%;
  bottom: 5rem; left: 0;

  position: absolute;
  z-index: 1;
}

.home__hero__device {
  &.desktop {
    bottom: 0; right: calc(50% - (700px / 2));

    position: absolute;
    width: 700px;
  }

  &.mobile {
    bottom: 3rem; right: calc(75% - (125px / 2));

    position: absolute;
    width: 125px;
  }
}



.home__what {
  padding-top: 4rem;
  padding-bottom: 4rem;

  h2, p {
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.33;
    margin-bottom: 3rem;
  }

  ul {
    list-style-type: none;

    &::after {
      @include clearfix;
    }

    li {
      float: left;
      font-size: 0.8rem;
      line-height: 1.5;
      padding-right: 1rem;
      padding-left: 1rem;
      text-align: center;
      width: 33.333333%;

      strong {
        display: block;
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
      }

      &:not(:first-of-type) {
        position: relative;

        &::after {
          width: 100%; height: 1px;
          top: 100px; left: -50%; // images are 200px tall

          background-image: linear-gradient(to right, $onyx 10%, rgba($coco, 0) 0%);
          background-position: top;
          background-size: 10px 1px;
          background-repeat: repeat-x;
          content: "";
          position: absolute;
          z-index: -1;
        }
      }
    }

    figure {
      width: 200px; height: 200px;

      background-color: $coco;
      margin-right: auto;
      margin-left: auto;

      img {
        width: 100%; height: 100%;

        clip-path: polygon(50% 10%, 85% 30%, 85% 75%, 50% 95%, 15% 75%, 15% 30%);
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
