<?php

$config = [];
// $config[Config::GITHUB_KEY] = '';
// $config[Config::GITHUB_APP_CLIENT_ID] = ''; //optional, increases API rate limit
// $config[Config::GITHUB_APP_CLIENT_SECRET] = '';
// $config[Config::LBRY_API_SERVER] = '';
// $config[Config::MAILCHIMP_KEY] = '';
// $config[Config::AWS_LOG_ACCESS_KEY] = '';
// $config[Config::AWS_LOG_SECRET_KEY] = '';
return $config;
