.footer {
  width: 100%; height: 330px;

  background-color: $lbry-black;
  color: rgba($lbry-white, 0.5);
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .inner-wrap:first-of-type {
    padding-bottom: 2rem;

    ul {
      float: left;
      font-size: 80%;
      width: 25%;

      &:last-of-type,
      &:nth-last-child(2) {
        text-align: right;
      }

      li {
        &:first-of-type {
          letter-spacing: 0.1rem;
          margin-bottom: 1rem;
          pointer-events: none;
          text-transform: uppercase;
        }

        &:not(:first-of-type):not(:last-of-type) {
          margin-bottom: 0.25rem;
        }
      }
    }
  }

  .inner-wrap:last-of-type {
    padding-top: 0.75rem;

    ul {
      &::after {
        @include clearfix;
      }

      li {
        vertical-align: middle;

        &:first-of-type {
          float: left;
        }

        &:last-of-type {
          float: right;
          font-size: 80%;
          line-height: 3rem;
        }
      }
    }
  }

  hr {
    width: 100%; height: 1px;

    background-color: rgba($lbry-white, 0.1);
    border: none;
  }

  ul {
    list-style-type: none;
  }

  li {
    &.free-speech a {
      @include hide-text;
      width: 5rem; height: 3rem;

      background-image: url("../img/flag-fs.svg");
      background-repeat: no-repeat;
      display: block;
    }
  }

  a {
    transition: color 0.2s;

    &:not(:hover) {
      color: $lbry-white;
    }

    &:hover {
      color: $lbry-teal-3;
    }
  }
}
