.hero {
  &:not(.hero--plain) {
    background-color: var(--lbry-teal-5);
    background-image: linear-gradient(135deg, var(--lbry-teal-2), var(--lbry-blue-3) 100%);
    background-size: cover;
    color: var(--lbry-white);
    position: relative;
    text-shadow: 0 0 0.2rem rgba($lbry-black, 0.7);

    &::before {
      top: 0; left: 0;
      bottom: 0; right: 0;

      background-color: var(--lbry-black);
      content: "";
      opacity: 0.3;
      position: absolute;
    }
  }

  &:not(.hero--plain):not(.hero--youtube) {
    text-align: center;
  }

  &:not(.hero--half-height):not(.hero--plain):not(.hero--youtube) {
    @media (min-width: 951px) {
      height: 500px;
    }

    @media (max-width: 950px) {
      height: 250px;
    }
  }

  &.hero--half-height {
    height: 250px;
  }

  &.hero--news {
    background-position: center;
  }

  &.hero--plain {
    padding-top: 2rem;
  }

  &.hero--youtube {
    height: calc(100vh - 5rem);
  }

  [class*="icon-"].icon-fw {
    width: 3rem;
  }
}
