//  200

@font-face {
  font-family: Metropolis;
  font-weight: 200;
  src: url("../type/sans/200.woff2") format("woff2"),
       url("../type/sans/200.woff") format("woff");
}

@font-face {
  font-family: Metropolis;
  font-style: italic;
  font-weight: 200;
  src: url("../type/sans/200i.woff2") format("woff2"),
       url("../type/sans/200i.woff") format("woff");
}



//  400

@font-face {
  font-family: Metropolis;
  font-weight: normal;
  src: url("../type/sans/400.woff2") format("woff2"),
       url("../type/sans/400.woff") format("woff");
}

@font-face {
  font-family: Metropolis;
  font-style: italic;
  font-weight: normal;
  src: url("../type/sans/400i.woff2") format("woff2"),
       url("../type/sans/400i.woff") format("woff");
}



//  600

@font-face {
  font-family: Metropolis;
  font-weight: 600;
  src: url("../type/sans/600.woff2") format("woff2"),
       url("../type/sans/600.woff") format("woff");
}

@font-face {
  font-family: Metropolis;
  font-style: italic;
  font-weight: 600;
  src: url("../type/sans/600i.woff2") format("woff2"),
       url("../type/sans/600i.woff") format("woff");
}
