pre,
code {
  background-color: #f1f1f1;
}

code {
  padding: 3px 5px;
  // font-family: $font-mono;
  // color: darken($color-primary, 10%);

  &.code-inline {
    padding: 0;
    margin-left: 1px;
    margin-right: 1px;
    font-weight: bold;
    color: inherit;
    background-color: transparent;
  }
}

pre {
  > code {
    padding: 0;
  }

  // margin-bottom: $spacing-vertical;
  // border-left: .3rem solid $color-primary;
  padding: 10px 20px;
  overflow-x: auto;
}

.multiline-code {
  // @include user-select(text);
  max-width: 90vw;
  // margin-bottom: $spacing-vertical;
  // padding: $spacing-vertical / 2 $spacing-vertical;
  unicode-bidi: embed;
  overflow-x: auto;
  white-space: pre;
  display: block;
  word-wrap: break-word;
  font-size: 0.75rem;
}

.code-bash {
  @extend .multiline-code;
  background-color: #222;
  color: white;
}

.code-bash__response {
  color: #ccc;
}

.code-bash__kw {
  color: #c20cb9;
  font-weight: bold;
}

.code-bash__comment {
  color: #888;
}

.code-bash__prompt {
  font-weight: bold;
  margin-right: 5px;
  // color: lighten($color-primary, 20%);
  // @include user-select(none);
}
