// $text-shadow-cover-title: 0 0 6px rgba(0, 0, 0, 0.8);

.cover {
  width: 100%;
  background-size: cover;
  // padding: $spacing-vertical $spacing-vertical * 2 / 3;
}

.cover-full {
  min-height: 100vh;
  font-size: 1.2rem;
  background-position: center;
}

.cover-title {
  line-height: 1.4;
  font-size: 2.6rem;
  // margin-bottom: $spacing-vertical;
}

.cover-subtitle {
  font-size: 1.2rem;
  // margin: $spacing-vertical 0 $spacing-vertical;
}

.cover-title, .cover-subtitle {
  &:not(.cover-title-flat):not(.cover-item--outline) {
    // text-shadow: $text-shadow-cover-title;
  }
}

.cover-item--outline {
  // text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px  1px 0 #000, 1px  1px 0 #000, $text-shadow-cover-title;
}

// @media (min-width:$width-laptop-min) and (max-width: $width-laptop-max) {
//   .cover {
//     padding: $spacing-vertical $spacing-vertical * 1.5;
//   }

//   .cover-title {
//     font-size: 3.2rem;

//     &.cover-title-tile {
//       font-size: 2.4rem;
//       max-width: 660px;
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }

//   .cover-subtitle {
//     font-size: 1.2rem;
//   }
// }

// @media (min-width: $width-desktop-min) {
//   .cover {
//     padding: $spacing-vertical $spacing-vertical * 2;
//   }

//   .cover-title {
//     font-size: 4.0rem;

//     &.cover-title-tile {
//       font-size: 2.8rem;
//       max-width: 660px;
//       margin-left: auto;
//       margin-right: auto;
//     }
//   }

//   .cover-subtitle {
//     font-size: 1.4rem;
//   }
// }

.cover-stretch-wrap {
  display: flex;
  flex-direction: column;

  > .cover {
    flex: 1;
  }
}

.cover-center {
  flex-direction: column;
  // @include absolute-center;
}

.cover-dark {
  color: #ddd;

  .cover-title {
    color: white;
  }
}

.cover-light {
  color: #444;

  .cover-title {
    color: #111;
  }
}

.cover-light-alt {
  color: #333;

  .cover-title {
    color: black;
  }
}

.cover-dark-grad {
  // background-color: $color-primary;
}

.cover-light-alt-grad {
  // background-color: $color-light-alt;
}

.cover-special-message {
  font-style: italic;
  line-height: 1.8;
}
