.sale-title {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.sale-title-filler {
  font-size: 0.65rem;
  color: #ddd;
}

.sale-title-emphasis {
  font-size: 1.35rem;
}

.sale-ctas {
  display: block;
}

.sale-cta {
  display: block;
}

.sale-call {
  text-align: center;
  // font-family: $font-header;
  // margin-bottom: $spacing-vertical / 2;

  .sale-call-total-people {
    font-weight: bold;
    font-size: 2.4rem;
  }

  .sale-call-prep,
  .sale-call-verb {
    vertical-align: super;
  }

  .sale-ctas {
    // margin-bottom: $spacing-vertical;
  }

  .sale-cta {
    font-size: 2.0rem;
    font-weight: bold;
  }

  .sale-call-verb {
    // margin-bottom: $spacing-vertical / 4;
    margin-right: 10px;
  }

  .sale-call-prep {
    // margin: 10px $spacing-vertical / 2 0 $spacing-vertical / 4;
  }
}

.sale-level {
  border-radius: 5px;
  background-color: white;
  color: #111;
  // padding: $spacing-vertical;
  cursor: pointer;
  position: relative;
  // margin-bottom: $spacing-vertical;

  &.sale-level-clickable {
    // padding: $spacing-vertical $spacing-vertical / 2;
    // margin: 0 $spacing-vertical / 2 $spacing-vertical;

    &:hover {
      // padding-left: $spacing-vertical;
      // padding-right: $spacing-vertical;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.sale-level-label {
  float: left;
  margin-right: 5px;
  margin-left: 20px;
}

.sale-level-cost {
  float: right;
}

.sale-level-reward {
  clear: both;
}

.sale-level-help {
  // color: $color-meta-light;
  font-size: 0.75rem;
}

.sale-level-radio {
  position: absolute;
  // top: $spacing-vertical * 1.25;
  // left: $spacing-vertical / 2;
}

.sale-level:hover .sale-level-radio {
  // left: $spacing-vertical;
}

.sale-level-cost {
  // color: $color-money;
  font-weight: bold;
}

.sale-level-credits {
  font-weight: bold;
  // margin-bottom: $spacing-vertical / 2;
}

.sale-level-reward-title {
  // color: $color-meta-light;
}

.sale-question-bubble {
  border-radius: 5px;
  // background: $color-light-alt;
  // margin-bottom: $spacing-vertical;
  font-size: 0.8rem;
  // padding: $spacing-vertical $spacing-vertical;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    // margin-bottom: $spacing-vertical / 2;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.sale-question {
  color: black;
}

.sale-question-answer {
  color: #444;
}

.goal-wrap {
  width: 100%;
  padding: 0 20px;
  // @include clearfix;
}

.goal-glass {
  width: 100%;
  // height: $spacing-vertical;
  background-color: #c7c7c7;
  border-radius: 10px;
  overflow: hidden;
}

.goal-progress {
  float: left;
  // height: $spacing-vertical;
  // background-image: repeating-linear-gradient(
  //   45deg,
  //   lighten($color-primary, 20),
  //   lighten($color-primary, 20) 10px,
  //   lighten($color-primary, 30) 10px,
  //   lighten($color-primary, 30) 20px
  // );
  z-index: 1;
}

.goal-amount {
  float: right;
}

.goal-stat,
.goal-amount {
  padding: 10px;
}

.goal-stat {
  float: left;
}

.goal-number,
.goal-label {
  font-size: 0.9rem;
}

.goal-number {
  font-weight: bold;
}

.control-item-img {
  a {
    display: inline-block;
    // height: $spacing-vertical * 2;
    line-height: 0;
  }
}
